<div class="row">

<div class="login">
  <div class="login-screen col-8 col-offset-2">
    <div class="login-icon col-3 col-offset-1">
      <img src="/public/images/rocket.png" alt="Welcome" />
      <h4>Welcome to <small>Tracking</small></h4>
    </div>

    <div class="login-form col-6">
      <form method="POST" action="/Account/Login" autocomplete="off">

      <div class="control-group">
        <input type="text" class="login-field" value="" name="name" placeholder="Name" id="login-name" />
        <label class="login-field-icon fui-user" for="login-name"></label>
      </div>

      <div class="control-group">
        <input type="password" class="login-field" value="" name="password" placeholder="Password" id="login-pass" />
        <label class="login-field-icon fui-lock" for="login-pass"></label>
      </div>

      <button type="submit" class="btn btn-primary btn-large btn-block" href="#">Login</button>
      <a class="login-link" href="#">Lost your password?</a>

      </form>

    </div>
  </div>
</div>


</div>