<div class="span12">
          <div class="demo-browser">
            <div class="demo-browser-side">
              <div class="demo-browser-author">


                  <img src="/static/img/face.jpg" alt="">


              </div>
              <div class="demo-browser-action">
                <a class="btn btn-danger btn-large btn-block" href="http://twitter.com/monstercritic" target="_blank">
                  Edit
                </a>
              </div>
              <h5>@dom</h5>
              <h6>
                Software Engineer, Munich
              </h6>
            </div>
            <div class="demo-browser-content">
              <img src="/static/img/bento.jpg" alt="">
              <img src="/static/img/bento.jpg" alt="">
              <img src="/static/img/bento.jpg" alt="">

            </div>
          </div>
        </div>