<div class="span12">
          <div class="demo-browser">
            <div class="demo-browser-side">
              <div class="demo-browser-author">


                  <img src="/static/img/face.jpg" alt="">


              </div>
              <div class="demo-browser-action">
                <a class="btn btn-danger btn-large btn-block" href="#" target="">
                  Edit
                </a>
              </div>
              <h5>@Jane Doe</h5>
              <h6>
                Software Engineer, Munich
              </h6>
            </div>
            <div class="demo-browser-content">

            <h3>Latest Dishes</h3>

              <img src="/static/food_images/1.jpg" alt="">
              <img src="/static/food_images/2.jpg" alt="">
              <img src="/static/food_images/3.jpg" alt="">

            <h3>Average Food Score</h3>
            <p>Yay! Jane is pretty healthy!</p>

                    <div class="progress">
                     <div class="bar bar-success" style="width: 70%;"></div>
                    </div>

            <h3>Badges</h3>

                <img class="badg" src="/static/images/icons/Compas@2x.png" alt="Compas">
                <img class="badg disabled" src="/static/images/icons/Pocket@2x.png" alt="Compas">
                <img class="badg disabled" src="/static/images/icons/Book@2x.png" alt="Compas">

            </div>







          </div>
        </div>