.dish {
	position: relative;

	.image-container {
		max-height: 400px;
		overflow: hidden;
	}

	.toolbar {
		height:200px;
		background:@concrete;

		.span3 {
			width:20%;
			float:left;
			margin-right:20px;
		}

	}




}

.dish-navigation {

		text-align: center;
		font-weight: 100;
		color:#fff;
		position: relative;
		background:@firm;
		padding:20px 0px;

		small {
			color:@gray;
		}

		p {
			margin:0px;
			margin-bottom: 6px;
			font-weight: normal;
		}

		span {
			display: block;
			color:@gray;
			padding:11px 20px;
			color:#fff;
			font-size: 50px;
			top:0px;
			background: @base;
			position: absolute;
		}


		.left {

		}
		.right {
			right: 0px;
		}
	}