.dish {
	position: relative;

	.image-container {
		max-height: 400px;
		overflow: hidden;
	}

	.toolbar {
		height:200px;
		background:@gray;

	}



}

.dish-navigation {

		text-align: center;
		font-weight: 100;
		color:#fff;
		position: relative;
		background:@firm;
		padding:20px 0px;

		small {
			color:@gray;
		}

		p {
			margin:0px;
			font-weight: normal;
		}

		span {
			display: block;
			color:@gray;
			padding:5px 20px;
			color:#fff;
			font-size: 50px;
			top:2px;
			background: @base;
			position: absolute;
		}

		.left {

		}
		.right {
			right: 0px;
		}
	}