@import "flat-ui.less";

@import "content.less";
@import "card.less";


body {
	margin:0px;
	padding:0px;
}

.navbar {

	margin-bottom: 0px;

	.container {
		padding:0px 10px;
	}

	.logo {
		position: absolute;
		left:12px;
		top: 12px;

		a {
			text-decoration: none;
		}
	}
	.logo img {
		height:40px;
	}

}

.navbar-inverse .nav-collapse .nav>li>a:hover, .navbar-inverse .nav-collapse .nav>li>a:focus, .navbar-inverse .nav-collapse .dropdown-menu a:hover, .navbar-inverse .nav-collapse .dropdown-menu a:focus {
	background-color: @firm !important;
	color:@inverse;
}

.progress {
	background:@gray;
}

.loader {
	margin-top:200px;
	margin-left:45%;
	font-size:60px;
}

