<!DOCTYPE html>
<html>
<head>
	<title>App</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
	<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
	<link rel="stylesheet" href="/static/css/main.css">


</head>
<body>
<div id="app">

<div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
      	<a href="/" class="logo"><img src="/static/img/logo.png" alt=""></a>

        <div class="container">


          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active">
                <a href="/">Home</a>
              </li>

			<li class="">
                <a href="/profile">Profile</a>
              </li>

			<li class="">
                <a href="/restaurants">Restaurants</a>
              </li>


            </ul>
          </div>
        </div>
      </div>
    </div>


	<div class="container">

		<div id="content"></div>
    <div class="modal hide fade"></div>

<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
    <script>
      var directionsDisplay;
      var directionsService = new google.maps.DirectionsService();
      var map;

      function initialize() {
        directionsDisplay = new google.maps.DirectionsRenderer();
        var start = new google.maps.LatLng(48.132678,11.614595)
        var end = new google.maps.LatLng(48.132459, 11.610076);
        var mapOptions = {
          zoom:7,
          disableDefaultUI: true,
          draggable: false,
          mapTypeId: google.maps.MapTypeId.ROADMAP,
          center: start
        }
        map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
        directionsDisplay.setMap(map);
        calcRoute(start, end)
      }

      function calcRoute(start, end) {
        var request = {
            origin:start,
            destination:end,
            travelMode: google.maps.DirectionsTravelMode.WALKING
        };
        directionsService.route(request, function(response, status) {
          if (status == google.maps.DirectionsStatus.OK) {
            directionsDisplay.setDirections(response);
          }
        });
      }

      google.maps.event.addDomListener(window, 'load', initialize);
    </script>

<div id="map-canvas" style="height:400px"></div>
	</div>

  <div id="footer">
            <span id="footer-trigger" class="fui-plus"></span>
            <ul>
              <li>
                <label class="share-label" for="share-toggle2">Vegeterian</label>
                <div class="switch filter has-switch"><div class="switch-animate switch-off"><input type="checkbox" data-toggle="switch"><span class="switch-left">ON</span><label>&nbsp;</label><span class="switch-right">OFF</span></div></div>
              </li>
                       <li>
                <label class="share-label" for="share-toggle2">In walking distance</label>
                <div class="switch filter has-switch"><div class="switch-animate switch-off"><input type="checkbox" data-toggle="switch"><span class="switch-left">ON</span><label>&nbsp;</label><span class="switch-right">OFF</span></div></div>
              </li>

            </ul>


  </div>


</div>






<!-- Vendor Stuff -->

<script src="/static/js/vendor/jquery/jquery.js" ></script>
<script src="/static/js/bootstrap.min.js" ></script>
<script src="/static/js/vendor/lodash/lodash.js" ></script>
<script src="/static/js/vendor/backbone/backbone.js" ></script>
<script src="/static/js/vendor/handlebars/handlebars.runtime.js" ></script>


<!-- App -->

<script src="/static/js/namespace.js" ></script>
<script src="/static/js/router.js" ></script>
<script src="/static/js/templates.js" ></script>


<script src="/static/js/views/base.js" ></script>
<script src="/static/js/views/home.js" ></script>
<script src="/static/js/views/loading.js" ></script>
<script src="/static/js/views/appview.js" ></script>
<script src="/static/js/views/dishes/dishview.js" ></script>
<script src="/static/js/views/dishes/maps.js" ></script>
<script src="/static/js/views/dishes/vote.js" ></script>
<script src="/static/js/views/restaurant/restauranthome.js" ></script>
<script src="/static/js/views/restaurant/restaurant.js" ></script>
<script src="/static/js/views/account/profile.js" ></script>

<script src="/static/js/models/dish.js" ></script>
<script src="/static/js/models/restaurant.js" ></script>
<script src="/static/js/collections/dishcollection.js" ></script>
<script src="/static/js/collections/restaurants.js" ></script>



<script src="/static/js/app.js" ></script>


</body>
</html>