

   <div id="dishes"></div>

	<div id="myCarousel" class="carousel slide">

	  <!-- Carousel items -->
	  <div class="carousel-inner">
	    <div class="active item">
			<div class="dish">
			    <div class="image-container">
			      <img src="/static/img/bento.jpg" alt="">
			    </div>
				<div class="dish-navigation">

				    <span class="right pass"  href="#myCarousel" data-slide="next" ><i class="icon-angle-right"></i></span>
				    <span class="left pass"  href="#myCarousel" data-slide="prev"><i class="icon-angle-left"></i></span>
				    <p>Dish Name</p><small>with mixed Salad</small>

				</div>
			    <div class="toolbar">

			    </div>
			</div>


	    </div>
	    <div class="item">
		<div class="dish">
		    <div class="image-container">
		      <img src="/static/img/bento.jpg" alt="">
		    </div>
			<div class="dish-navigation">

			    <span class="right pass"  href="#myCarousel" data-slide="next" ><i class="icon-angle-right"></i></span>
			    <span class="left pass"  href="#myCarousel" data-slide="prev"><i class="icon-angle-left"></i></span>
			    <p>Dish Name</p><small>with mixed Salad</small>

			</div>
		    <div class="toolbar">

		    </div>
		</div>
	    </div>
	    <div class="item">
			<div class="dish">
			    <div class="image-container">
			      <img src="/static/img/bento.jpg" alt="">
			    </div>
				<div class="dish-navigation">

				    <span class="right pass"  href="#myCarousel" data-slide="next" ><i class="icon-angle-right"></i></span>
				    <span class="left pass"  href="#myCarousel" data-slide="prev"><i class="icon-angle-left"></i></span>
				    <p>Dish Name</p><small>with mixed Salad</small>

				</div>
			    <div class="toolbar">

			    </div>
			</div>
	    </div>
	  </div>

	</div>


