

   <div id="dishes"></div>

    <div class="dish-navigation">

        <span class="right"><i class="icon-angle-right"></i></span>
        <span class="left"><i class="icon-angle-left"></i></span>
        <p>Dish Name</p><small>with mixed Salad</small>

    </div>